<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card id="info">
            <mat-card-title id="welcome">Pollinator Fact:</mat-card-title>
            <mat-divider></mat-divider>
            <!--<mat-card-content id="back-nug-card">-->
                <!--<mat-card id="nug-card">-->
                    <mat-card-content id="nugget">
                        <p>{{this.nugget.info}}</p>
                        <mat-card-footer id="source">
                            Source: <a href="{{this.nugget.source}}">link</a>
                        </mat-card-footer>
                    </mat-card-content>

                <!--</mat-card>-->
            <!--</mat-card-content>-->
        </mat-card>

        <mat-card id="dig-deeper">
            <mat-divider></mat-divider>
            <mat-card-title>Dig Deeper!</mat-card-title>
            <mat-card-subtitle>Click a button to get a fact from that category!</mat-card-subtitle>
            <mat-card-content class="buttons">
                <button class="button" mat-raised-button (click)="this.getBehaviorNugget()">Behavior</button>
                <button class="button" mat-raised-button (click)="this.getHabitatNugget()">Habitat</button>
                <button class="button" mat-raised-button (click)="this.getHomeTipsNugget()">Home Tips</button>
            </mat-card-content>
        </mat-card>

        <mat-card id="projectLink">
            <mat-card-content>
                To learn more about the project go <a href="https://wcroc.cfans.umn.edu/restoring-native-prairie">here</a>
            </mat-card-content>
        </mat-card>

        <mat-card-footer class="footer">Funding provided by the Minnesota Environment and Natural Resources Trust Fund</mat-card-footer>
    </div>
</div>
