.mat-card-title {
    font-family: AntykwaTorunska;
}

/*#info {*/
    /*margin-bottom: 0px;*/
/*}*/

#dig-deeper {
    /*margin-top: 0px;*/
    text-align: center;
}

#welcome {
    font-size: 200%;
    text-align: center;
}

#nugget {
    text-align: center;
    font-size: 18px;
    min-height: 180px;
}

#source{
    min-height: 50px;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 3%;
    width: 100%;
    background-color: #827d28;
    text-align: center;
    padding: 15px;
}

.button {
    border:1.25px solid black;
}

#projectLink {
    margin-bottom: 80px;
}

@media screen and (min-width: 300px) {
    .button {
        margin-right: 2%;
    }

    #last-button {
        margin-right: auto;
    }
}

@media screen and (min-width: 400px) {
    #nugget{
        background-image: none;
        min-height: 0px;
    }

    .button {
        margin-right:10%;
    }
}
