.mat-card-title {
    font-family: AntykwaTorunska;
}

/*#info {*/
    /*margin-bottom: 0px;*/
/*}*/

#dig-deeper {
    /*margin-top: 0px;*/
    text-align: center;
}

#welcome {
    font-size: 200%;
    text-align: center;
}

#nugget {
    text-align: center;
    font-size: 18px;
    padding-right: 5%;
    min-height: 180px;

    /*background-image: url("../../assets/background_bee.png");*/
    /*background-size: 100%;*/

}

#source{
    min-height: 50px;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 3%;
    width: 100%;
    background-color: #80BC2D;
    text-align: center;
    padding: 15px;
}

.button {
    border:1.25px solid black;
    /*border-radius: 100px 100px 100px 100px;*/
    background-color: gold;
    /*left: 35%;*/

}

#projectLink {
    margin-bottom: 80px;
}

@media screen and (min-width: 420px) {
    #nugget{
        background-image: none;
        min-height: 0px;
    }

    .buttons {
        left: 43%;
    }
}
